body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: rgb(95, 187, 41);
    background-image: linear-gradient(rgb(145, 129, 99) rgb(253, 43, 6));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}