body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40%;
}
.orange-color{
    color:orange;
}
.flexibla-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img {
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: rgb(95, 187, 41);
    background-image: linear-gradient(rgb(145, 129, 99) rgb(253, 43, 6));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-repeat: no-repeat;
    background-image: url(images/exp-bg.png);
    background-position: left;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(red white);
    border-image-slice: 1;
   
}
#baby-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}